<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Rapport de Distribution</title>
        <style>
            @page {
                margin: 8mm 8mm;
            }
            .page {
                /* border: 1px dashed red; */
                page-break-after: always;
            }
            body {
                font-family: Arial, sans-serif;
                font-size: 8px;
                margin: 0;
                padding: 0;
            }
            .page {
                page-break-after: always;
            }
            h1 {
                font-size: 14px;
                margin-bottom: 4px;
            }
            .meta {
                margin-bottom: 12px;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 16px;
                table-layout: fixed;
            }
            th,
            td {
                border: 1px solid #000;
                padding: 4px;
                text-align: center;
                vertical-align: middle;
            }
            thead th {
                /* background-color: #f0f0f0; */
                /* font-weight: bold; */
            }
            .text-left {
                text-align: left;
            }
            .gray {
                background-color: lightgray;
            }
            .vertical-text {
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                padding: 2px 4px;
                text-align: left;
                font-size: 8px;
                font-weight: 400;
            }
            table.by-school tr > *:first-child {
                width: 110px;
                max-width: 110px;
                overflow-wrap: break-word;
            }

            /* table.by-school tr > *:nth-child(2) {
                width: 100px;
                max-width: 100px;
                overflow-wrap: break-word;
            } */
            .summary-table .day-header {
                font-weight: bold;
                vertical-align: middle;
                text-align: center;
                background-color: #f9f9f9;
                max-width: 100px; /* Add this line */
            }

            .left {
                text-align: left;
            }

            .right {
                text-align: right;
            }
            .summary-table .day-closed td {
                background-color: #f0f0f0;
                font-style: italic;
                padding: 8px;
            }
            .by-school td.closed {
                background-color: #f0f0f0;
                text-align: center;
                font-style: italic;
            }
        </style>
    </head>
    <body>
        <div class="page">
            <h1>Rapport de Production (tous)</h1>
            <div class="meta">
                Semaine : <strong>du 21 avril 2025 au 25 avril 2025</strong
                ><br />
                Rapport généré le <strong>18 avril à 10:38</strong> par
                <strong>ABC12345</strong>
            </div>

            <table class="summary-table">
                <thead>
                    <tr>
                        <th class="day-header">Jour</th>
                        <th class="left">Menu</th>
                        <th class="left">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="day-closed">
                        <td class="day-header">Lundi 21 avril 2025</td>
                        <td colspan="2" class="left">Aucun service</td>
                    </tr>

                    <tr>
                        <td rowspan="5" class="day-header">
                            Mardi 22 avril 2025
                        </td>
                        <td class="left">
                            D | Mini quiche de légumes & crêpes
                        </td>
                        <td class="left">180</td>
                    </tr>
                    <tr>
                        <td class="left">
                            E | Assiettes repas salade de patates & thon
                        </td>
                        <td class="left">60</td>
                    </tr>
                    <tr>
                        <td class="left">F | Omelette et mini crêpes</td>
                        <td class="left">65</td>
                    </tr>
                    <tr>
                        <td class="left">
                            E | Assiettes repas salade de patates et …
                        </td>
                        <td class="left">25</td>
                    </tr>
                    <tr>
                        <td class="left">+ | Pain banane</td>
                        <td class="left">286</td>
                    </tr>
                    <tr class="day-total gray">
                        <td colspan="2" class="right">Total pour Mardi</td>
                        <td class="left">330</td>
                    </tr>

                    <tr>
                        <td rowspan="5" class="day-header">
                            Mercredi 23 avril 2025
                        </td>
                        <td class="left">D | Morceaux poulet général Tao</td>
                        <td class="left">44</td>
                    </tr>
                    <tr>
                        <td class="left">E | Tofu général Tao</td>
                        <td class="left">120</td>
                    </tr>
                    <tr>
                        <td class="left">
                            F | Assiettes repas salade de patates & thon
                        </td>
                        <td class="left">70</td>
                    </tr>
                    <tr>
                        <td class="left">G | Omelette et mini crêpes</td>
                        <td class="left">50</td>
                    </tr>
                    <tr>
                        <td class="left">
                            E | Assiettes repas salade de patates et …
                        </td>
                        <td class="left">260</td>
                    </tr>
                    <tr class="day-total gray">
                        <td colspan="2" class="right">Total pour Mercredi</td>
                        <td class="left">260</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page">
            <h1>École De la Rochebelle St-Aimée du lac des signes</h1>
            <div class="meta">
                Semaine : <strong>du 21 avril 2025 au 25 avril 2025</strong
                ><br />
            </div>
            <table class="by-school">
                <thead>
                    <tr>
                        <th rowspan="2">Lieu</th>
                        <th colspan="5">Lundi 21 avril 2025</th>
                        <th colspan="5">Mardi 22 avril 2025</th>
                        <th colspan="5">Mercredi 23 avril 2025</th>
                        <th colspan="5">Jeudi 24 avril 2025</th>
                        <th colspan="5">Vendredi 25 avril 2025</th>
                    </tr>
                    <tr>
                        <!-- Lundi -->
                        <td class="closed" colspan="5">Aucun service</td>
                        <!-- Mardi -->
                        <th class="vertical-text">
                            D | Mini quiche de légumes & crêpes
                        </th>
                        <th class="vertical-text">
                            E | Assiettes repas salade de patates & thon
                        </th>
                        <th class="vertical-text">
                            F | Omelette et mini crêpes
                        </th>
                        <th class="vertical-text">
                            E | Assiettes repas salade de patates et …
                        </th>
                        <th class="vertical-text">+ | Pain banane</th>
                        <!-- Mercredi -->
                        <th class="vertical-text">
                            D | Morceaux poulet général Tao
                        </th>
                        <th class="vertical-text">E | Tofu général Tao</th>
                        <th class="vertical-text">
                            F | Assiettes repas salade de patates & thon
                        </th>
                        <th class="vertical-text">
                            G | Omelette et mini crêpes
                        </th>
                        <th class="vertical-text">
                            E | Assiettes repas salade de patates et …
                        </th>
                        <!-- Jeudi -->
                        <th class="vertical-text">D | Boulettes suédoises</th>
                        <th class="vertical-text">
                            E | Burrito haricot noir & douce
                        </th>
                        <th class="vertical-text">
                            F | Assiettes repas salade de patates & thon
                        </th>
                        <th class="vertical-text">
                            G | Omelette et mini crêpes
                        </th>
                        <th class="vertical-text">
                            E | Assiettes repas salade de patates et …
                        </th>
                        <!-- Vendredi -->
                        <th class="vertical-text">
                            D | Hamburger Helper maison
                        </th>
                        <th class="vertical-text">
                            E | Hamburger Helper végétarien
                        </th>
                        <th class="vertical-text">
                            F | Assiettes repas salade de patates & thon
                        </th>
                        <th class="vertical-text">
                            G | Omelette et mini crêpes
                        </th>
                        <th class="vertical-text">
                            E | Assiettes repas salade de patates et …
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <!-- Exemple : École Hubert‑Perron -->
                    <tr>
                        <td class="text-left">Aucun Groupe</td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <!--  DAY -->
                        <td>0</td>
                        <td>0</td>
                        <td>15</td>
                        <td>0</td>
                        <td>15</td>
                        <td>0</td>
                        <td>0</td>
                        <td>10</td>
                        <td>10</td>
                        <td>40</td>
                        <td>10</td>
                        <td>0</td>
                        <td>100</td>
                        <td>20</td>
                        <td>100</td>
                        <td>230</td>
                        <td>10</td>
                        <td>10</td>
                        <td>20</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td class="text-left">Lieu A</td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <td>20</td>
                        <td>8</td>
                        <td>1</td>
                        <td>3</td>
                        <td>33</td>
                        <td>0</td>
                        <td>10</td>
                        <td>20</td>
                        <td>10</td>
                        <td>0</td>
                        <td>0</td>
                        <td>100</td>
                        <td>0</td>
                        <td>100</td>
                        <td>200</td>
                        <td>0</td>
                        <td>0</td>
                        <td>10</td>
                        <td>10</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td class="text-left">Lieu B</td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <td>20</td>
                        <td>8</td>
                        <td>2</td>
                        <td>3</td>
                        <td>33</td>
                        <td>0</td>
                        <td>0</td>
                        <td>10</td>
                        <td>0</td>
                        <td>10</td>
                        <td>0</td>
                        <td>0</td>
                        <td>10</td>
                        <td>0</td>
                        <td>10</td>
                        <td>0</td>
                        <td>0</td>
                        <td>10</td>
                        <td>0</td>
                        <td>10</td>
                    </tr>

                    <!-- … répétez la même structure <tr rowspan="3"> pour chaque école … -->
                </tbody>

                <tfoot>
                    <tr class="gray">
                        <td class="text-left school-column">
                            <strong>Total de sélections</strong>
                        </td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <td class="closed"></td>
                        <td>180</td>
                        <td>60</td>
                        <td>65</td>
                        <td>25</td>
                        <td>286</td>
                        <td>44</td>
                        <td>120</td>
                        <td>70</td>
                        <td>50</td>
                        <td>260</td>
                        <td>120</td>
                        <td>160</td>
                        <td>50</td>
                        <td>110</td>
                        <td>440</td>
                        <td>120</td>
                        <td>70</td>
                        <td>50</td>
                        <td>20</td>
                        <td>260</td>
                    </tr>
                    <tr class="gray">
                        <td class="text-left">
                            <strong>Total de repas</strong>
                        </td>
                        <td colspan="5" class="closed"></td>
                        <td colspan="5">330</td>
                        <td colspan="5">260</td>
                        <td colspan="5">440</td>
                        <td colspan="5">260</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="page">
            <h1>
                École #2 Saint-Doux-Jésus du plateau de saint-louis-du-AH!-AH!
            </h1>
            <div class="meta">
                Semaine : <strong>du 21 avril 2025 au 25 avril 2025</strong
                ><br />
            </div>
            <table class="by-school">
                <thead>
                    <tr>
                        <th rowspan="2">Lieu</th>
                        <th colspan="5">Lundi 21 avril 2025</th>
                        <th colspan="5">Mardi 22 avril 2025</th>
                        <th colspan="5">Mercredi 23 avril 2025</th>
                        <th colspan="5">Jeudi 24 avril 2025</th>
                        <th colspan="5">Vendredi 25 avril 2025</th>
                    </tr>
                    <tr>
                        <!-- Lundi -->
                        <th class="vertical-text">
                            D | Macaroni au fromage / Aux légumes
                        </th>
                        <th class="vertical-text">
                            E | Assiettes repas salade de patates et …
                        </th>
                        <th class="vertical-text">
                            F | Omelette et mini crêpes
                        </th>
                        <th class="vertical-text">
                            E | Assiettes repas salade de patates et …
                        </th>
                        <th class="vertical-text">+ | Pain banane</th>
                        <!-- Mardi -->
                        <th class="vertical-text">
                            D | Mini quiche de légumes & crêpes
                        </th>
                        <th class="vertical-text">
                            E | Assiettes repas salade de patates & thon
                        </th>
                        <th class="vertical-text">
                            F | Omelette et mini crêpes
                        </th>
                        <th class="vertical-text">
                            E | Assiettes repas salade de patates et …
                        </th>
                        <th class="vertical-text">+ | Pain banane</th>
                        <!-- Mercredi -->
                        <th class="vertical-text">
                            D | Morceaux poulet général Tao
                        </th>
                        <th class="vertical-text">E | Tofu général Tao</th>
                        <th class="vertical-text">
                            F | Assiettes repas salade de patates & thon
                        </th>
                        <th class="vertical-text">
                            G | Omelette et mini crêpes
                        </th>
                        <th class="vertical-text">
                            E | Assiettes repas salade de patates et …
                        </th>
                        <!-- Jeudi -->
                        <th class="vertical-text">D | Boulettes suédoises</th>
                        <th class="vertical-text">
                            E | Burrito haricot noir & douce
                        </th>
                        <th class="vertical-text">
                            F | Assiettes repas salade de patates & thon
                        </th>
                        <th class="vertical-text">
                            G | Omelette et mini crêpes
                        </th>
                        <th class="vertical-text">
                            E | Assiettes repas salade de patates et …
                        </th>
                        <!-- Vendredi -->
                        <th class="vertical-text">
                            D | Hamburger Helper maison
                        </th>
                        <th class="vertical-text">
                            E | Hamburger Helper végétarien
                        </th>
                        <th class="vertical-text">
                            F | Assiettes repas salade de patates & thon
                        </th>
                        <th class="vertical-text">
                            G | Omelette et mini crêpes
                        </th>
                        <th class="vertical-text">
                            E | Assiettes repas salade de patates et …
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <!-- Exemple : École Hubert‑Perron -->
                    <tr>
                        <td class="text-left">Aucun Groupe</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1 [+1]</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>15</td>
                        <td>0</td>
                        <td>15</td>
                        <td>0</td>
                        <td>0</td>
                        <td>10</td>
                        <td>10</td>
                        <td>40</td>
                        <td>10</td>
                        <td>0</td>
                        <td>100</td>
                        <td>20</td>
                        <td>100</td>
                        <td>230</td>
                        <td>10</td>
                        <td>10</td>
                        <td>20</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td class="text-left">Lieu A</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>20</td>
                        <td>8</td>
                        <td>1</td>
                        <td>3</td>
                        <td>33</td>
                        <td>0</td>
                        <td>10</td>
                        <td>20</td>
                        <td>10</td>
                        <td>0</td>
                        <td>0</td>
                        <td>100</td>
                        <td>0</td>
                        <td>100</td>
                        <td>200</td>
                        <td>0</td>
                        <td>0</td>
                        <td>10</td>
                        <td>10</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td class="text-left">Lieu B</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>20</td>
                        <td>8</td>
                        <td>2</td>
                        <td>3</td>
                        <td>33</td>
                        <td>0</td>
                        <td>0</td>
                        <td>10</td>
                        <td>0</td>
                        <td>10</td>
                        <td>0</td>
                        <td>0</td>
                        <td>10</td>
                        <td>0</td>
                        <td>10</td>
                        <td>0</td>
                        <td>0</td>
                        <td>10</td>
                        <td>0</td>
                        <td>10</td>
                    </tr>

                    <!-- … répétez la même structure <tr rowspan="3"> pour chaque école … -->
                </tbody>

                <tfoot>
                    <tr class="gray">
                        <td class="text-left school-column">
                            <strong>Total de sélections</strong>
                        </td>
                        <td>0</td>
                        <td>1</td>
                        <td>1 [+1]</td>
                        <td>0</td>
                        <td>3</td>
                        <td>180</td>
                        <td>60</td>
                        <td>65</td>
                        <td>25</td>
                        <td>286</td>
                        <td>44</td>
                        <td>120</td>
                        <td>70</td>
                        <td>50</td>
                        <td>260</td>
                        <td>120</td>
                        <td>160</td>
                        <td>50</td>
                        <td>110</td>
                        <td>440</td>
                        <td>120</td>
                        <td>70</td>
                        <td>50</td>
                        <td>20</td>
                        <td>260</td>
                    </tr>
                    <tr class="gray">
                        <td class="text-left">
                            <strong>Total de repas</strong>
                        </td>
                        <td colspan="5">3</td>
                        <td colspan="5">330</td>
                        <td colspan="5">260</td>
                        <td colspan="5">440</td>
                        <td colspan="5">260</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </body>
</html>
